*{
    margin: 5;
    padding: 5;
}
.side-box{
    width: 20%;
    height: 670px;
    border: 1px solid;
}
.middle-box{
    margin-left: 60px;
    width: 90%;
    height: 200px;
    border: 1px solid;
    display: flex;
    margin-left: 10px;
}
.wow{
    display: flex;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px;
    background: #088178;
  }
  
  .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
  }
  .book-button{
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 20px;
    height: 45px;
    width: 120px;
  }
  .profile-info{
    margin-top: 12px;
    margin-left: 40px;
  }
  .profile-info1{
    font-size: large;
  }
  .profile-info2{
    margin-top: 15px;
    margin-left: 5px;
    line-height: 30px;
  }
  .adjust{
    margin-left: 25px;
  }