<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Mend Consultant Karachi - Medical Report</title>
     {%load static%}
    <link rel="stylesheet" href="{%static 'report.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>

    <nav>
        <div class="nav-logo">
            <a href="#"><img src="images/clinic.png"></a>
        </div>
        <ul class="nav-link">
            <li class="link"><a href="#">Home</li>
            <li class="link"><a href="#">Facilities</a></li>
            <li class="link"><a href="service.html">Service</a></li>
            <li class="link"><a href="#">About</a></li>
            <li class="link"><a href="#">Reviews</a></li>
        </ul>
        <button class="btn btn-login">Login</button>
    </nav>
 <br>

 <div class="overlay"></div>

<div class="loginform">
    <span class="close">&times;</span>
    <form>
    <div>
        <label for="">Username</label>
        <input type="text">
    </div>
    <div>
        <label for="">Password</label>
        <input type="text">
    </div>
    <button style="margin-right: 20px;">Login</button>
    </form>
</div>
    <!-- <div class="header">
  <img src="./images/clinic.png" alt="Aga Khan University Hospital Emblem" style="float: left; margin-right: 40px; height: 70px;">
</div> -->

    <h1>ماعیند مینٹد تھیرپیی </h1>
    <h1>Mind Mend Therapy Consultancy</h1>

    <div class="header-info">
        <p>Stadium Road, P.O. Box 3500.</p>
        <p>Karachi - 74600, Pakistan</p>
        <p>Online Medical Services Tel: (021) 090078601</p>
    </div>

    <div class="patient-info">
        <p>Medical Record #L21751857 (CM51452202)</p>
        <p>Patient Name: MR.Shahnawaz Dahani</p>
        <p>Age/Gender: 44Y/ Male</p>
    </div>

    <div class="test-results">
        <table>
            <tr>
                <th>Test</th>
                <th>Current Result</th>
                <th>Previous Results & Date</th>
                <th>Unit</th>
                <th>Ranges</th>
            </tr>
            <tr>
                <td>PLASMA ALCOHOL (ETHANOL)</td>
                <td>NOT DETECTED</td>
                <td></td>
                <td>mg/dl</td>
                <td>50-100 mg/dl <br> >100 mg/dl</td>
            </tr>
        </table>

        <div class="interpretation">
            <p>CNS Impairment <br> Depression of CNS <br> Fatalities reported 400 mg/dl</p>
        </div>

        <div class="note">
            <p>Note: This is only a screening test. Results are to be used only for medical (i.e. treatment) purposes. Unconfirmed screening results must not be used for non-medical purposes (e.g., employment testing or legal testing).</p>
            <p>The test is performed by Enzymatic reaction technique.</p>
        </div>
    </div>

    <br><br><br>



    <footer class="sec-p1">
        <div class="c1">
          <img style="width: 16%;" src="./images/clinic.png" alt="logo">
          <h3>Contact</h3>
          <p><Strong>Telephone:</strong>0900-78601</p>
          <p><strong>Address</strong> Street California , USA</p>
          <h2>Social Sites</h2>
          <div class="social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
    
        <div class="c1">
          <h3>About</h3>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Rules & Regulations</a>
        </div>
    
        <div class="c1">
          <h3>My Account</h3>
          <a href="#">Sign in</a>
          <a href="#">MyAppointments</a>
          <a href="#">Help</a>
        </div>
      </footer>
</body>
<script src="{%static 'app.js'%}"></script>
</html>
