<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Training</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'style.css'%}">
  <link rel="stylesheet" href="{%static 'training.css'%}">
</head>

<body>


  <nav>
    <div class="nav-logo">
      <a href="#"><img src="images/clinic.png"></a>
    </div>
    <ul class="nav-link">
      <li class="link"><a href="#">Home</li>
      <li class="link"><a href="#">Facilities</a></li>
      <li class="link"><a href="service.html">Service</a></li>
      <li class="link"><a href="#">About</a></li>
      <li class="link"><a href="#">Reviews</a></li>
      <li class="link"><a href="#">Training</a></li>

    </ul>
    <button class="btn btn-login">Login</button>
  </nav>

  <h4>Training</h4>
  <!-- 
    <div style="border: 1px solid; width: 80%; height: 200px;margin-left: 40px; margin-top: 20px;">

    </div> -->
  <br><br><br>


  <!--  -->
  <div class="wow">
    <div class="adjust">
      <div class="middle-box">
        <div class="card-image1">
          <img src="./images/couple.jpg" class="card-img" alt="">
        </div>
        <div class="profile-info">
          <div class="profile-info1">
            <div>
              <h2>Couple Therapy</h2>
            </div>
            <div>
              <h4><em>Couples therapy is a form of psychotherapy that can help you and your partner improve your
                  relationship. If you are having relationship difficulties, you can seek couples therapy to help
                  rebuild your relationship</em></h4>
            </div>
          </div>
          <div class="profile-info2">
            <div class="price">Price: $19.99</div>
            <div>MBBS, FCPS (Internal Medicine), Certified Diabetologist (UK) , Certified Hypertension
              Specialist (PSIM)</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--          -->

  <footer class="sec-p1">
    <div class="c1">
      <img style="width: 16%;" src="./images/clinic.png" alt="logo">
      <h3>Contact</h3>
      <p><Strong>Telephone:</strong>0900-78601</p>
      <p><strong>Address</strong> Street California , USA</p>
      <h2>Social Sites</h2>
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <div class="c1">
      <h3>About</h3>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Rules & Regulations</a>
    </div>

    <div class="c1">
      <h3>My Account</h3>
      <a href="#">Sign in</a>
      <a href="#">MyAppointments</a>
      <a href="#">Help</a>
    </div>



  </footer>
</body>
 <script src="{%static 'app.js'%}"></script>
</html>