<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Navbar -->
  <nav>
    <div class="nav-logo">
      <a href="#"><img src="images/clinic.png"></a>
    </div>
    <ul class="nav-link">
      <li class="link"><a href="#">Home</li>
      <li class="link"><a href="#">Facilities</a></li>
      <li class="link"><a href="service.html">Service</a></li>
      <li class="link"><a href="#">About</a></li>
      <li class="link"><a href="#">Reviews</a></li>
    </ul>
    <button class="btn btn-login">Login</button>
  </nav>

  <section id="details" class="sec-p1">
    <div class="big-img">
      <img style="border:1px solid #cce7d0;" src="./images/Doc1.webp" width="100%" id="bigimg">
    </div>
    <div id="product-detail">
      <h3>Dr.Jhatka</h3>
      <h2 style="font-size: 27px;">Rs.4500</h2>

      <button>Book Appointment</button>
      <h4 style="font-size: 30px;font-weight: 600;">About therapist</h4>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque autem aut? Saepe magnam,
        reprehenderit cumque placeat ratione provident animi sint sapiente numquam eveniet adipisci? Voluptatum quasi
        possimus quae sit!</span>
    </div>
  </section>
<div class="formating">
  <p>From January 1903 he worked as a general physician of the Gorj County on a temporary basis until April 1904 when he
    was appointed sanitary deputy inspector. In 1905 he passed a professional test and was permanently confirmed in the
    position of general physician of the Gorj County [5]. It is here that the young doctor carried out activities
    related to the organization of hygiene methods and was remarked for the preparation of personnel composed of
    sanitary agents who were very few and who, according to the law issued in April 1904 by Vasile Lascăr, were asked as
    auxiliaries of district doctors in the countryside, Laugier being preoccupied by their instruction. Together with
    these sanitary agents Laugier led the fight for the early discovery of infectious-contagious diseases having an
    epidemic character. He ordered that in contaminated villages the dwellings should be disinfected in his own
    presence. Starting with April 1908, doctor Laugier was transferred as a general doctor at the Dolj County. Here he
    found that the entire system was disorganized so that he had to reform the entire medical system.

    According to Cantacuzino’s law, which stipulated that all public health funds be centralized, the entire sanitary
    personnel was transferred from the local to the state jurisdiction. An improvement in the training of sanitary
    workers was noted after the 1st of October 1908, when the School of Sanitary Agents was established in Craiova [6].

    The graduates of this school spread all over the country due to their high level of education and instruction. One
    of those students was the sanitary agent from Gorj, Nicolae Popescu. This disciple of doctor Charles Laugier became
    teacher in this school and competent collaborator of his chief in Gorj, then he followed in Craiova in the capacity
    of superior civil servant of the Sanitary School Inspectorate of Oltenia. Laugier generally collaborated with
    doctors whom he coordinated and supervised.</p></div>

  <script src="app.js"></script>
</body>