*{
    margin: 5;
    padding: 5;
}
.wow{
    display: flex;
}
.side-box{
    /* position: fixed;
    overflow-y: auto; */
    margin-left: 10px;
    width: 20%;
    box-shadow: 3px 3px 5px 5px rgba(222, 226, 222, 0.9);
    height: 570px;
    margin-bottom: 40px;
}
.middle-box{
    box-shadow: 3px 3px 5px 5px rgba(222, 226, 222, 0.9);
    margin-left: 80px;
    width: 820px;
    height: 200px;
    /* border: 1px solid; */
    display: flex;
    margin-left: 40px;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 60%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px;
    background: #088178;
}  
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}
.list{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    left: 50%;
    line-height: 60px;
}
.list a{
    color: black;
}
.list div:hover{
    background: #088178;
    display: flex;
    justify-content: center;
    width: 100px;
}
.profile-info{
    margin-top: 12px;
    margin-left: 40px;
  }
  .profile-info1{
    font-size: large;
    line-height: 35px;
  }
  .profile-info2{
    margin-top: 15px;
    margin-left: 5px;
    line-height: 30px;
  }
.bs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    border:1px solid;
    height: auto;
    padding-bottom: 18px;
    width:95.5%;
    margin-left: 40px;
    margin-top: 20px;
}
.bst{
    line-height: 35px;
    border: 1px solid;
    height: 230px;
    width:90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.bst-content{
    margin-left: 10px;
}
#bokey{
    background: red; color: black; font-size: medium; border-radius: 10%; font-weight: 500;
    margin-left: 10px; margin-top: 20px;
}